body .player-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* max-width: 35rem; */
  /* min-height: 35vh; */
  min-width: 35rem;
  border-radius: 2rem;
  color: rgba(105, 97, 97, 0.555); /*배경글자색*/
  font-weight: 350;
  background: #fff9ed; /*재생목록 배경색*/
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.player-wrapper .current-song {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  /* padding: 1rem 0rem; */
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  color: #dfd5c9; /*현재재생창 글씨색*/
  font-weight: 600;
  background: #807a78; /*원래 재생창 배경색깔*/
  /* background: #f2ede3; 현재재생창 배경 */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.current-song .close-btn {
  position: relative;
  right: -16rem;
  top: 1rem;
  cursor: pointer;
}

.current-song .close-btn:active {
  transform: scale(0.75);
}

.player-wrapper .current-song audio {
  display: none;
}

.player-wrapper .current-song .song-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.current-song .song-info .song-name {
  /*재생중 노래 이름*/
  margin-top: 1rem;
  font-size: 2.2rem;
}
.current-song .song-info .song-author {
  /*재생중 가수 이름*/
  color: #dfd5c9;
  margin-top: 0.5rem;
  font-size: 1.5rem;
  font-weight: 400;
}

.current-song .time {
  /*재생 시간 숫자 앞 뒤*/
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  width: 24rem;
  font-size: 1.3rem;
}
.current-song #timeline {
  position: relative;
  margin: 0 auto;
  width: 24rem;
  height: 0.5rem;
  background: #dfd5c9; /*재생시간바 기본 색상*/
  border-radius: 0.5rem;
  cursor: pointer;
}

/*호버 화살표 보이기*/
.current-song #timeline:hover .hover-playhead {
  opacity: 1;
}
.current-song #timeline:hover .hover-playhead::before {
  opacity: 1;
}
.current-song #timeline:hover .hover-playhead::after {
  opacity: 1;
}
/*호버 화살표 보이기*/

.current-song #timeline #playhead {
  position: relative;
  z-index: 200;
  width: 0;
  height: 5px;
  border-radius: 5px;
  background: #a9aec1; /*재생시간바 진행바 색깔*/
}
.current-song #timeline .hover-playhead {
  position: absolute;
  z-index: 100;
  top: 0;
  width: 0;
  height: 0.5rem;
  opacity: 0;
  border-radius: 5px;
  background: #a9aec1; /*재생시간 바 호버*/
  transition: opacity 0.3s;
}
.current-song #timeline .hover-playhead::before {
  opacity: 0;
  content: attr(data-content);
  display: block;
  position: absolute;
  top: -30px;
  right: -23px;
  width: 40px;
  padding: 3px;
  text-align: center;
  color: #ffffff; /*시간 표시 화살표 위에 뜨는 재생시간 글자색*/
  background: #a9aec1; /*시간 표시 화살표 위에 뜨는 재생시간 배경색깔*/
  border-radius: calc(20px - 12px);
}
.current-song #timeline .hover-playhead::after {
  opacity: 0;
  content: "";
  display: block;
  position: absolute;
  top: -8px;
  right: -8px;
  border-top: 8px solid #a9aec1; /*보더바 화살표*/
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
}
.current-song .controls {
  margin-top: 1rem; /*이전 재생 다음 버튼 위 마진*/
}

.current-song .controls .controls_wrapper {
  position: relative;
  z-index: 100; /* 뮤직 사운드바랑 겹치지 않으려고 */
}

.current-song .controls button {
  color: #dfd5c9; /*재생 버튼*/
  /* border-radius: 10%; */
  margin: 0rem 0.5rem 0rem 0.5rem;
  font-size: 1.8rem;
  text-align: center;
  transition: 0.2s;
  cursor: pointer;
  border: none;
  background: 0;
}
.current-song .controls button:focus {
  outline: none;
}
.current-song .controls button.play {
  /* 재생버튼 */
  width: 5rem;
  height: 5rem;
  /* border: 0.1rem solid #adb39a; */
}
.current-song .controls button.play:hover {
  /* 재생버튼 호버*/
  transform: scale(1.3);
}

.current-song .controls button.prev-next {
  /*이전 다음 버튼 기본*/
  width: 3.5rem;
  height: 3.5rem;
}

.current-song .controls button.prev-next:hover {
  /*이전 다음 버튼 호버*/
  transform: scale(1.2);
}

.current-song .controls button.prev-next:active {
  /*이전 다음 버튼 액티브*/
  transform: scale(0.95);
}

.current-song .song_alert_wrapper {
  display: flex;
  position: relative;
  justify-content: center;
  /* align-items: center; */
}

.current-song .song_alert_wrapper .song_alert {
  position: absolute;
  width: 33rem;
  top: -0.4rem;
  font-size: 1.2rem;
  animation: opacityOnAndOff 3s infinite;
}

@keyframes opacityOnAndOff {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.current-song .controls .volume-controller-wrapper .mute-btn {
  position: relative;
  /* top: -4.6rem;
  right: -26.5rem;
  width: 6rem; */
}

.current-song .controls .volume-controller-wrapper .mute-btn:active {
  transform: scale(0.95);
}

.current-song .controls .volume-controller-wrapper {
  /* padding-top: 88px; */
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  right: -9rem;
  top: -3.6rem;
}

.current-song .controls .volume-controller-wrapper .volume-controller {
  position: absolute;
  width: 6rem;
  height: 0.2rem;
  top: 1rem;
  right: 0.6rem;
  transform-origin: 1;
  border-radius: 5px;
  cursor: pointer;
  /* transform: rotate(-90deg); */
  -webkit-appearance: none;
  background: #dfd5c9;
  outline: none;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.volume-controller:hover {
  opacity: 1;
}

.volume-controller::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* appearance: none; */
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #dfd5c9;
  cursor: pointer;
}

.player-wrapper .play-list {
  /*재생목록 창*/
  display: flex;
  flex-direction: column;
  padding: 0rem;
  height: 34vh;
  width: 100%; /*이건 다시 보기*/
  overflow-y: scroll; /*이걸로 스크롤*/
}

.player-wrapper .play-list .play-list-one {
  /*재생목록과 선택버튼 */
  display: flex;
  align-items: center;
  margin-left: 0.6rem;
}

.player-wrapper .play-list .track {
  display: flex;
  align-items: center;
  margin: 0.7rem 0.6rem 0 0;
  border-radius: calc(20px - 10px);
  border: 1px solid transparent;
  transition: 0.3s;
  cursor: pointer;
}
.player-wrapper .play-list .track:hover {
  background: #f9f9f9; /*재생목록 마우스 갖다대면 호버색깔*/
  border-color: #eeeac1;
  position: relative;
  box-shadow: 0rem 0rem 1rem 0rem #274684;
}
.player-wrapper .play-list .track.current-audio {
  background: #f9f9f9; /*재생목록 호버 선택창*/
  box-shadow: 0rem 0rem 1rem 0rem #274684;
}
.player-wrapper .play-list .track.play-now {
  background: white; /*재생목록 재생시 색깔*/
  box-shadow: 0rem 0rem 1.5rem 0.2rem #353347;
  position: relative;
}
.player-wrapper .play-list .track.play-now:after {
  content: "";
  display: block;
  position: absolute;
  left: 17rem;
  width: 5.7rem;
  height: 5.7rem;
  border-radius: calc(2rem - 1rem);
  font-size: 1.6rem;
  animation: play 2s linear infinite;
}
.player-wrapper .play-list .track.play-now .track-img {
  filter: opacity(70%);
}
.player-wrapper .play-list .track .track-img {
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
}
.player-wrapper .play-list .track .track-info {
  margin-left: 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1.7rem;
  min-width: 17rem;
  margin-bottom: 0.2rem;
}
.player-wrapper .play-list .track .track-info .track-name {
  /*재생목록 노래 제목*/
  font-size: 1.6rem;
  margin-bottom: 0.4rem;
  overflow: hidden;
  color: rgb(19, 18, 18);
}
.player-wrapper .play-list .track .track-info .track-author {
  /*재생목록 가수 이름*/
  font-weight: 400;
  font-size: 1.3rem;
  color: rgba(189, 195, 199, 1);
  overflow: hidden;
}
.player-wrapper .play-list .track .track-duration {
  /*재생목록 노래 시간 숫자*/
  min-width: 3rem;
  margin-left: 1rem;
  margin-right: 0rem;
  font-weight: 500;
  font-size: 1.2rem;
}

.player-wrapper .play-list .track-select {
  /*재생 버튼*/
  cursor: pointer;
  border: transparent;
  margin: 0 0 0 1.6rem;
  padding: 4rem 1rem;
  color: #ded4c9;
  background-color: #807a78;
  padding: 1.3rem 1.3rem;
  border-radius: 1rem;
  transition: 0.3s;
}

.player-wrapper .play-list .track-select:hover {
  background-color: #c9c2b4; /*바꾸기전 호버색*/
  color: #786f69;
}

.player-wrapper .play-list .track-select:active {
  transform: scale(0.9);
}

.player-wrapper .play-list::-webkit-scrollbar {
  /*스크롤바 두께*/
  width: 0.5rem;
}
.player-wrapper .play-list::-webkit-scrollbar-thumb {
  /*스크롤바 색*/
  background: #c4cdec;
  border-radius: 0.5rem;
}
.player-wrapper .play-list::-webkit-scrollbar-track {
  /*스크롤바 배경*/
  background: #f8f8fa;
}

/**/
/**/
/* 일기 보기 모드 음악 창*/

.current-song .controls .volume-controller-wrapper2 .mute-btn {
  position: relative;
  /* top: -4.6rem; */
  right: 3.8rem;
  width: 6rem;
}

.current-song .controls .volume-controller-wrapper2 .mute-btn:active {
  transform: scale(0.95);
}

.current-song .controls .volume-controller-wrapper2 {
  /* padding-top: 88px; */
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  right: -9rem;
  top: -3.6rem;
}

.current-song .controls .volume-controller-wrapper2 .volume-controller2 {
  position: absolute;
  width: 6rem;
  height: 0.2rem;
  top: 1rem;
  right: 0.5rem;
  transform-origin: 1;
  border-radius: 5px;
  cursor: pointer;
  /* transform: rotate(-90deg); */
  -webkit-appearance: none;
  background: #dfd5c9;
  outline: none;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.volume-controller2:hover {
  opacity: 1;
}

.volume-controller2::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* appearance: none; */
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #dfd5c9;
  cursor: pointer;
}

@media screen and (max-width: 359px) {
  .player-wrapper {
    width: 99%;
  }
  .player-wrapper .current-song {
    width: 99%;
  }
}
