body .player-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* max-width: 35rem; */
  /* min-height: 35vh; */
  min-width: 35rem;
  border-radius: 2rem;
  color: rgba(105, 97, 97, 0.555); /*배경글자색*/
  font-weight: 350;
  background: #fff9ed; /*재생목록 배경색*/
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.player-wrapper .current-song {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  /* padding: 1rem 0rem; */
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  color: #dfd5c9; /*현재재생창 글씨색*/
  font-weight: 600;
  background: #807a78; /*원래 재생창 배경색깔*/
  /* background: #f2ede3; 현재재생창 배경 */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.player-wrapper .current-song audio {
  display: none;
}

.current-song .controls {
  margin-top: 0rem; /*이전 재생 다음 버튼 위 마진*/
}

.player-wrapper .play-list::-webkit-scrollbar {
  /*스크롤바 두께*/
  width: 0.5rem;
}
.player-wrapper .play-list::-webkit-scrollbar-thumb {
  /*스크롤바 색*/
  background: #c4cdec;
  border-radius: 0.5rem;
}
.player-wrapper .play-list::-webkit-scrollbar-track {
  /*스크롤바 배경*/
  background: #f8f8fa;
}

/**/
/**/
/* 일기 보기 모드 음악 창*/

.current-song .controls .volume-controller-wrapper2 .mute-btn {
  position: relative;
  /* top: -4.6rem; */
  right: 3.8rem;
  width: 6rem;
}

.current-song .controls .volume-controller-wrapper2 .mute-btn:active {
  transform: scale(0.95);
}

.current-song .controls .volume-controller-wrapper2 {
  /* padding-top: 88px; */
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  right: -9rem;
  top: -3.6rem;
}

.current-song .controls .volume-controller-wrapper2 .volume-controller2 {
  position: absolute;
  width: 6rem;
  height: 0.2rem;
  top: 1rem;
  right: 0.5rem;
  transform-origin: 1;
  border-radius: 5px;
  cursor: pointer;
  /* transform: rotate(-90deg); */
  -webkit-appearance: none;
  background: #dfd5c9;
  outline: none;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.volume-controller2:hover {
  opacity: 1;
}

.volume-controller2::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* appearance: none; */
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #dfd5c9;
  cursor: pointer;
}

@media screen and (max-width: 359px) {
  .player-wrapper {
    width: 99%;
  }
  .player-wrapper .current-song {
    width: 99%;
  }
}
