body .player-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* max-width: 35rem; */
  /* min-height: 35vh; */
  min-width: 35rem;
  border-radius: 2rem;
  color: rgba(105, 97, 97, 0.555); /*배경글자색*/
  font-weight: 350;
  background: #fff9ed; /*재생목록 배경색*/
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.player-wrapper .current-song {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  /* padding: 1rem 0rem; */
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
  color: #dfd5c9; /*현재재생창 글씨색*/
  font-weight: 600;
  background: #807a78; /*원래 재생창 배경색깔*/
  /* background: #f2ede3; 현재재생창 배경 */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
}

.player-wrapper .current-song audio {
  display: none;
}

.current-song .controls {
  margin-top: 0rem; /*이전 재생 다음 버튼 위 마진*/
}

.current-song .controls .volume-controller-wrapper .mute-btn {
  position: relative;
  /* top: -4.6rem;
      right: -26.5rem;
      width: 6rem; */
}

.current-song .controls .volume-controller-wrapper .mute-btn:active {
  transform: scale(0.95);
}

.player-wrapper .play-list {
  /*재생목록 창*/
  display: flex;
  flex-direction: column;
  padding: 0rem;
  height: 34vh;
  width: 100%; /*이건 다시 보기*/
  overflow-y: scroll; /*이걸로 스크롤*/
}

.player-wrapper .play-list .play-list-one {
  /*재생목록과 선택버튼 */
  display: flex;
  align-items: center;
  margin-left: 0.6rem;
}

.player-wrapper .play-list .track {
  display: flex;
  align-items: center;
  margin: 0.7rem 0.6rem 0 0;
  border-radius: calc(20px - 10px);
  border: 1px solid transparent;
  transition: 0.3s;
  cursor: pointer;
}
.player-wrapper .play-list .track:hover {
  background: #f9f9f9; /*재생목록 마우스 갖다대면 호버색깔*/
  border-color: #eeeac1;
  position: relative;
  box-shadow: 0rem 0rem 1rem 0rem #274684;
}
.player-wrapper .play-list .track.current-audio {
  background: #f9f9f9; /*재생목록 호버 선택창*/
  box-shadow: 0rem 0rem 1rem 0rem #274684;
}
.player-wrapper .play-list .track.play-now {
  background: white; /*재생목록 재생시 색깔*/
  box-shadow: 0rem 0rem 1.5rem 0.2rem #353347;
  position: relative;
}
.player-wrapper .play-list .track.play-now:after {
  content: "";
  display: block;
  position: absolute;
  left: 17rem;
  width: 5.7rem;
  height: 5.7rem;
  border-radius: calc(2rem - 1rem);
  font-size: 1.6rem;
  animation: play 2s linear infinite;
}
.player-wrapper .play-list .track.play-now .track-img {
  filter: opacity(70%);
}
.player-wrapper .play-list .track .track-img {
  width: 5rem;
  height: 5rem;
  border-radius: 1rem;
}
.player-wrapper .play-list .track .track-info {
  margin-left: 0.7rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1.7rem;
  min-width: 17rem;
  margin-bottom: 0.2rem;
}
.player-wrapper .play-list .track .track-info .track-name {
  /*재생목록 노래 제목*/
  font-size: 1.6rem;
  margin-bottom: 0.4rem;
  overflow: hidden;
  color: rgb(19, 18, 18);
}
.player-wrapper .play-list .track .track-info .track-author {
  /*재생목록 가수 이름*/
  font-weight: 400;
  font-size: 1.3rem;
  color: rgba(189, 195, 199, 1);
  overflow: hidden;
}
.player-wrapper .play-list .track .track-duration {
  /*재생목록 노래 시간 숫자*/
  min-width: 3rem;
  margin-left: 1rem;
  margin-right: 0rem;
  font-weight: 500;
  font-size: 1.2rem;
}

.player-wrapper .play-list .track-select {
  /*재생 버튼*/
  cursor: pointer;
  border: transparent;
  margin: 0 0 0 1.6rem;
  padding: 4rem 1rem;
  color: #ded4c9;
  background-color: #807a78;
  padding: 1.3rem 1.3rem;
  border-radius: 1rem;
  transition: 0.3s;
}

.player-wrapper .play-list .track-select:hover {
  background-color: #c9c2b4; /*바꾸기전 호버색*/
  color: #786f69;
}

.player-wrapper .play-list .track-select:active {
  transform: scale(0.9);
}

.player-wrapper .play-list::-webkit-scrollbar {
  /*스크롤바 두께*/
  width: 0.5rem;
}
.player-wrapper .play-list::-webkit-scrollbar-thumb {
  /*스크롤바 색*/
  background: #c4cdec;
  border-radius: 0.5rem;
}
.player-wrapper .play-list::-webkit-scrollbar-track {
  /*스크롤바 배경*/
  background: #f8f8fa;
}

/**/
/**/
/* 일기 보기 모드 음악 창*/

.current-song .controls .volume-controller-wrapper2 .mute-btn {
  position: relative;
  /* top: -4.6rem; */
  right: 3.8rem;
  width: 6rem;
}

.current-song .controls .volume-controller-wrapper2 .mute-btn:active {
  transform: scale(0.95);
}

.current-song .controls .volume-controller-wrapper2 {
  /* padding-top: 88px; */
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  right: -9rem;
  top: -3.6rem;
}

.current-song .controls .volume-controller-wrapper2 .volume-controller2 {
  position: absolute;
  width: 6rem;
  height: 0.2rem;
  top: 1rem;
  right: 0.5rem;
  transform-origin: 1;
  border-radius: 5px;
  cursor: pointer;
  /* transform: rotate(-90deg); */
  -webkit-appearance: none;
  background: #dfd5c9;
  outline: none;
  opacity: 0;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

.volume-controller2:hover {
  opacity: 1;
}

.volume-controller2::-webkit-slider-thumb {
  -webkit-appearance: none;
  /* appearance: none; */
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  background: #dfd5c9;
  cursor: pointer;
}

@media screen and (max-width: 359px) {
  .player-wrapper {
    width: 99%;
  }
  .player-wrapper .current-song {
    width: 99%;
  }
}
