/*뮤직박스*/
.mainNav {
  display: flex;
  position: fixed;
  z-index: 200;
  transform: translateY(-90%);
  opacity: 0;
  transition: all 0.4s ease-in-out;
  top: -10%;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  align-items: center;
  justify-content: center;
}

/*footer하단 체크박스*/
#check_box input[type="checkbox"] + label {
  display: block;
  margin: 0.2em;
  cursor: pointer;
  padding: 0.2em;
}

input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label:before {
  content: "";
  border: 0.1rem solid #827870;
  border-radius: 50%;
  display: inline-block;
  width: 1rem;
  height: 1rem;
  margin-right: 0.5rem;
  vertical-align: center;
  align-items: center;
  color: transparent;
  transition: 0.2s;
}

input[type="checkbox"] + label:active:before {
  transform: scale(0);
}

input[type="checkbox"]:checked + label:before {
  background-color: #837970;
  border-color: #837970;
  color: #fff;
}

/* 로딩 창*/
