/* .card {
  min-width: 250px;
  height: 333px;
  transform-style: preserve-3d;
}

.card:not(:first-child) {
  margin-left: 3rem;
}

.card .face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform-style: preserve-3d;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s all ease-out;
  backface-visibility: hidden;
  border-radius: 5px;
}

.card .face.front {
  background: var(--primary-color);
  display: flex;
  flex-direction: column;
}

.card .face.front img {
  clip-path: circle();
  object-fit: cover;
  width: 27rem;
  height: 13rem;
  margin-bottom: 7rem;
  position: absolute;
  top: 18%;
}

.card .face.front h1 {
  font-size: 1.8rem;
  position: absolute;
  bottom: 18%;
}

.card .face.front h1::after {
  content: " ë‹˜";
}

.card:hover .face.front {
  transform: rotateY(180deg);
}

.card .face.back {
  background: var(--point-color);
  color: var(--primary-color);
  transform: rotateY(180deg);
} */

/* .card .face.back h2 {
  border: 1px solid brown;
  width: 60%;
  height: 70%;
  line-height: 1.8;
  font-size: 1.6rem;
  color: var(--black-color);
} */

/* .card:hover .face.back {
  transform: rotateY(360deg);
}

.github {
  font-size: 1.4rem;
} */

/* @media only screen and (min-width: 1024px) {
  .calendar-mycard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: coral;
  }
} */
