#controls .control_btns {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #f7f8e7;
}

#controls .control_btns button {
  flex: 1 1 auto;
  align-items: center;
  cursor: pointer; /* 닿으면 손모양으로 바뀜 */
  background-color: #d4c7b1;
  padding: 0.5rem 0rem;
  margin: 0.1rem;
  text-align: center;
  border-radius: 0.5rem;
  border: 1px solid rgb(27, 27, 27, 0.2);
  color: rgb(27, 27, 27);
  text-transform: uppercase; /*안의 텍스트가 대문자로 바뀜*/
  font-weight: 600; /*글씨 두께*/
  font-size: 1.2rem;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

#controls .control_btns button:active {
  transform: scale(0.95);
}

#controls .control_btns span {
  flex: 0.5 1 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.45rem 0;
  border-radius: 0.5rem;
  border: 1px solid rgb(27, 27, 27, 0.2);
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

#controls .control_btns #range_span {
  background-color: #f2ede3;
}

#controls .control_btns #range_span #lineWeightRange {
  align-items: center;
  -webkit-appearance: none;
  width: 7rem;
  height: 0.2rem;
  border-radius: 0.5rem;
  background: #7b716e;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

#controls .control_btns #lineWeightRange::-webkit-slider-thumb {
  appearance: none;
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 50%;
  background: #7b716e;
  cursor: pointer;
}

#colors {
  /* max-width: 70rem; */
  display: flex;
  flex-direction: row;
  /* flex-flow: row wrap; */
  justify-content: center;
  align-items: center;
}

#colors span:active {
  transform: scale(0.95);
}

#colors .color {
  flex: 1 1 auto;
  height: 2rem;
  /* border-radius: 1rem; */
  cursor: pointer; /*이거하면 커서 댔을 때 손가락 모양으로 바뀜*/
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

#canvas {
  /* position: relative; 뮤직버튼 땜시*/
  /* min-width: 400;
  min-height: 250; */
  background-color: white;
  box-shadow: 0 0.4rem 0.6rem rgba(50, 50, 93, 0.11),
    0 1px 3px rgba(0, 0, 0, 0.08);
}

.imgPreviewDiv > img {
  /*이렇게 해야 원하는 div사이즈 안으로 맞춰진다*/
  max-width: 100%;
  max-height: 100%;
}
