#canvas_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#controls {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#controls .btns_part1 button:active {
  /*액티브 넣으니까 버튼 누르면  작아졌따 커짐 스케일 안의 배율 만큼 작아졌다가 다시 커짐.*/
  transform: scale(0.95);
}

#controls .btns_part1 button {
  cursor: pointer; /* 닿으면 손모양으로 바뀜 */
  background-color: white;
  width: 8.7rem;
  padding: 0.5rem 0rem;
  text-align: center;
  border-radius: 0.5rem;
  border: 1px solid black;
  color: rgb(27, 27, 27);
  text-transform: uppercase; /*안의 텍스트가 대문자로 바뀜*/
  font-weight: 600; /*글씨 두께*/
  font-size: 1.2rem;
}

#controls .btns_part2 {
  display: flex;
  flex-flow: row;
  align-items: center;
}

#controls .btns_part2 .input_file_button {
  cursor: pointer; /* 닿으면 손모양으로 바뀜 */
  background-color: rgba(255, 204, 204, 0.4);
  width: 7.25em;
  padding: 0.5rem 0rem;
  text-align: center;
  border-radius: 0.5rem;
  border: 1px solid black;
  color: #80594a;
  text-transform: uppercase; /*안의 텍스트가 대문자로 바뀜*/
  font-weight: 600; /*글씨 두께*/
  font-size: 1.2rem;
}

#controls .btns_part2 #wrapper {
  /* border: 1px solid black; */
  box-shadow: rgba(0, 0, 0, 0.25) 0px 0.0625em 0.0625em,
    rgba(0, 0, 0, 0.25) 0px 0.125em 0.5em,
    rgba(255, 255, 255, 0.1) 0px 0px 0px 1px inset;
  padding: 0.95rem 0rem;
  border-radius: 0.5rem;
}

#controls .btns_part2 #lineWeightRange {
  display: flex;
  align-items: center;
  -webkit-appearance: none;
  height: 0.5rem;
  width: 17.4rem;
  border-radius: 0.5rem;
  background: #ebd9d1;
  outline: none;
  opacity: 0.7;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
}

#controls .btns_part2 #lineWeightRange::-webkit-slider-thumb {
  appearance: none;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  background: #ffa2a2;
  cursor: pointer;
}

#colors {
  /* max-width: 70rem; */
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
}

#colors span:active {
  transform: scale(0.95);
}

#colors .color {
  width: 2.9rem;
  height: 2.9rem;
  border-radius: 1rem; /*height의 절반으로 radius를 줄 경우 동그라미가 된다*/
  cursor: pointer; /*이거하면 커서 댔을 때 손가락 모양으로 바뀜*/
  box-shadow: 0 4px 6px rgba(50, 50, 93, 0.11), 0 1px 3px rgba(0, 0, 0, 0.08);
}

#canvas {
  position: relative;
  width: 100%;
  height: 100%;
  min-width: 400;
  min-height: 250;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0 0.4rem 0.6rem rgba(50, 50, 93, 0.11),
    0 1px 3px rgba(0, 0, 0, 0.08);
}
.imgPreviewDiv > img {
  /*이렇게 해야 원하는 div사이즈 안으로 맞춰진다*/
  max-width: 100%;
  max-height: 100%;
}

.imgPreviewDiv {
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 710px) {
  #controls {
    display: flex;
    flex-flow: column wrap;
  }
  #colors {
    width: 35rem;
    display: flex;
    flex-flow: row wrap;
  }
}
